
<%= form_for @post do |f| %>
	
	<p>
		<%= f.label :title%>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>