
<div id="post_content">
	<h1> <%= @post.title %> </h1>

	<p> <%= @post.content %> </p>

	<div id="comments">
		<h2> <%= @post.comments.count %> comments for this post</h2>
	</div>

	<%= render @post.comments %>

	<h3>
		Reply to thread
		<%= render "comments/form" %>
	</h3>

	<p> <%= link_to "Edit", edit_post_path(@post) %>
		<%= link_to "Destroy", post_path(@post), method: :delete , data: { confirm: "Are you sure ?" } %>
		<%= link_to "Home", root_path(@post) %>
	</p>
</div>