<!DOCTYPE html>
<html>
  <head>
    <title>Arp's Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:300,400,700' %>
    <%= stylesheet_link_tag 'application', 'http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main_header clearfix">
      <div class="wrapper">
        <div id="logo">
          <%= link_to "Arp's Forum", root_path %>
        </div>
        <div id="buttons">
          <% if user_signed_in? %>
            <%= link_to "New Post", new_post_path %> 
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path%> 
            <%= link_to "Sign in", new_user_session_path%> 
          <% end %>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
